body {
    font-size: 16px;
}

h1 {
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
}

p {
    font-size: 3em;
    font-weight: 600;
    text-align: center;
}        

.p_ul {
    background-color: pink;
}

#li1 {
    background-color: yellow;
}

#li2 {
    background-color: red;
}

#li3 {
    background-color: brown;
}